<context id="maincontext" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://repast.org/scenario/context">
	<!-- <context id="AgentContext">
		<projection type="geography" id="AgentGeography"></projection>
	</context> -->

	<context id="AgentContext">
		<projection type="geography" id="AgentGeography"></projection>
	</context>

	<context id="BuildingContext">
		<projection type="geography" id="BuildingGeography"></projection>
	</context>


</context>
